:root{
    --primary-blue: #010B25;
    --secondary-blue: #1241C5;
    --white: #fff;

}

* {
  font-family: "Space Grotesk", sans-serif;
  padding: 0;
  margin: 0;
  background: var(--primary-blue);
  color: var(--white);
  list-style: none;
  box-sizing: border-box;
}

ul li::before{
    content: '✓';
}

ul{
    background: transparent;
}

main{
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 1787px;
    max-height: 1140px;
}

main>h1{
    text-align: center;
    font-weight: 700;
    font-size: 54.6px;
    line-height: 69.67px;
}

.highlight{
    background: radial-gradient(circle at 50%,#043BCB, #88b3fd);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.offert{
    font-size: 14.66px;
    font-weight: 400;
    color: #88b3fd;
    border-style: solid;
    border-width: 0.92px;
    padding-left: 17.41px;
    padding-right: 17.41px;
    padding-top: 8.25px;
    padding-bottom: 8.25px;
    border-radius: 54px;
}

.button-header{
    display: flex;
    align-items: center;
    gap: 1rem;
}

button.active{
    border: 0.92px solid var(--white) ;
    background: radial-gradient(circle at 50% 100%, #0A308B, #1E6EFB);
    padding-bottom: 9.17px;
    padding-top: 9.17px;
    padding-right: 18.33px;
    padding-left: 18.33px;
    border-radius: 9.17px;
}

.button-header>button{
    font-size: 18px;
    font-weight: 500;
    border: 0.92px solid var(--white) ;
    padding-bottom: 9.17px;
    padding-top: 9.17px;
    padding-right: 18.33px;
    padding-left: 18.33px;
    border-radius: 9.17px;
    width: 275px;
    height: 45px;
}

.card-container{
    display: flex;
    margin-top: 2rem;
    gap: 33.9px;
    
}

.card{
    border: solid 0.77px #E7EBFF ;
    width: 375.94px;
    border-radius: 20.03px;
    padding: 30.81px;
    background:radial-gradient(circle at 50% 100%, rgba(3,25,83,0.7) 0%, rgba(23,112,247,0.7) 100%);
    display: flex;
    flex-direction: column;
    gap: 7.7px;
    max-height: max-content;

}

button{
    border: solid 0.77px hsla(0, 0%, 100%, 1);
    background: transparent;
    padding-top: 16.95px;
    padding-bottom: 16.95px;
    padding-left: 33.9px;
    padding-right: 33.9px;
    width: 314.31px;
    height: 46.9px;
    border-radius: 9.24px;

}


.definition{
    font-weight: 400;
    font-size: 18.49px;
    line-height: 30.81px;
    display: flex;
    flex-direction: column;
    gap: 33.9px;
    background-color: transparent;
}


.card-header{
    display: flex;
    align-items: center;
    gap: 8.26px;
    background: transparent;
}

.card-header>span{
    border: solid 0.83px var(--white);
    padding-left: 8.26px;
    padding-right: 8.26px;
    padding-top: 4.13px;
    padding-bottom: 4.13px;
    border-radius: 6.61px;
    background: hsla(0, 0%, 100%, 0.08);
}

.card h2, b,span, p, .definition, li{
    background: transparent;
}

li{
    padding: 7.7px;
}

.card h2{
    font-size: 36.36px;
    font-weight: 500;
}

b{
    font-size: 46.22px;
    font-weight: 500;
}

.price{
    background: transparent;
    display: flex;
    align-items: center;
    gap: 8px;
}

.card div{
    background: transparent;
    width: 314.31px;
    
}

.card>div>.line{
    width: 337.18px;
    height: 0.1em;
    background: linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,0.8), rgba(255,255,255,0));
    position: absolute;
}
.best{
    position: relative;
    border: solid 0.77px #E7EBFF ;
    width: 375.94px;
    border-radius: 20.03px;
    padding: 30.81px;
    background: rgba(163, 215, 253, 1);
    overflow: hidden;
}

.best div{
    background: transparent;
}

.best>div>.line{
    width: 337.18px;
    height: 0.1em;
    background: linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,0.8), rgba(255,255,255,0));
    position: absolute;
}

.best::before{
    content: '';
    position: absolute;
    pointer-events: none;
    top: -130px;
    left: -110px;
    rotate: 45deg;
    height: 130%;
    width: 160%;
    clip-path: ellipse(25% 40% at 50% 50%);
    background: linear-gradient(rgba(9,89,229,0.5), rgba(9,89,229,0.2));
}

.best h2{
    background: transparent;
}

.best .card-header h2{
    font-size: 36.36px;
    font-weight: 500;
    
}

.best .definition{
    display: flex;
    flex-direction: column;
    gap: 33.81px;
}


